html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
  width: 100%;
}


#label {
  margin-right: 20px;
  margin-top  : 20px;
}

#label table {
    width: 100%;
    border-spacing: 5px;
}

#label td {
    padding: 5px;
}

#label a {
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
}

#label select {
    width: 100%;
    padding: 5px;
}
